html, body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: white;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    padding: 10px 20px 0px;
    border-right: solid 2px rgb(76, 151, 112);
}

ul {
    list-style-type: none;
    padding-top: 60px;
}

ul li {
    padding-bottom: 15px;
}

ul a {
    text-decoration: none;
}

.header {
    min-height: 150px;
    text-align: center;
    border-bottom: solid 2px rgb(76, 151, 112);
}

.header img {
    padding: 15px;
}

.content {
    min-height: 300px;
    padding: 20px;
}
.footer {
    min-height: 30px;
    text-align: center;
}
.footer p {
    margin: 2px;
}

table{
    border-collapse: collapse;
}

table td{
    border: 1px solid gray;
    padding: 5px;
    
}

table thead {
    font-weight: bold;
}

table tbody tr:nth-child(even) {
	background-color:#64ab4c;
	}

.endereço iframe {
    width: 400px;
    height: 300px;
    padding-bottom: 50px;
}

label {
    width: 100px;
    text-align: right;
    display: inline-block;
    padding: 5px;
}

